## Rough work

In [2]:
import pandas as pd
import os

In [3]:
LANGUAGE = "yoruba"  # Options: "yoruba", "igbo", "hausa", "pidgin"
# EVAL_DIR = f"eval/{LANGUAGE}"
# os.makedirs(EVAL_DIR, exist_ok=True)

TRAIN_PATH = fr"C:\Users\HP\Downloads\Casual-rep\data\yoruba_test.csv"
TEST_PATH = fr"C:\Users\HP\Downloads\Casual-rep\data\yoruba_train.csv"

In [4]:

# Load and preprocess data
df_train = pd.read_csv(TRAIN_PATH)
df_test = pd.read_csv(TEST_PATH)

In [5]:
df_train

                                                  tweet  label
0             mo kí àrẹ wa alàgbà kú àbọ̀ o toò iṣẹ́ yá      1
1                  tọ̀tún tòsì ni ẹyẹlé fi nkó ire wọlé      1
2     sá fún iṣẹ́ abẹ yẹra fún oògùn òyìnbó lo egbòg...      1
3     òwú kì í là kí inú ó bólóko ǹjẹ́ lónìí tí í ṣe...      1
4                beeni oo ko si iro mbe ọmọ ni afẹ́ ayé      1
...                                                 ...    ...
2894  nígbàtí ìgbà àti àkókò bá súnkì di àgbákò níbo...      0
2895  lákòótán ẹni tí ò jẹ́ nǹkan kan tó ń ṣe bí ẹní...      0
2896  adiye ti n jefun araa won o awon omo aregbesol...      0
2897  ibẹ̀ làwọn kan alàìmore ènìyàn ńtà ọmọ tí èléd...      0
2898  ó ṣòro fún ọmọadúláwọ̀ láti ṣe ìrìnàjò jáde kú...      0

[2899 rows x 2 columns]

In [6]:
df_test

                                                  tweet  label
0     Ìwọ ikú òpònú abaradúdú wọ, o ò ṣe é 're o. O ...      0
1     Yorùbá nbú'yàn ṣá """"""""..àyà wanle bí òkú ì...      0
2     Òwe àgbà ní """"""""ọmọlọ́mọ là á rán níṣẹ́ à ...      0
3     RT @user: @user asa kasa ti awon eyan ko ni od...      0
4     RT @user: Mo ń rí àwọn èébú kọ̀ọ̀kan. Àti àwọn...      0
...                                                 ...    ...
5409  RT @user: Oju adan o'nribi, oju awodi o'nri or...      1
5410  a tú dúpẹ́ lọ́wọ́ àwọn alátakò wá náà, a ó gbọ...      1
5411  Ẹní tó làná, tó lòní, kò leè lọ̀la; Ọlọ́run nì...      1
5412  My God is """"""""onise iyanu"""""""" ( A Mira...      1
5413  RT @user: Ẹ wá ba mi re! #yorubafood #naijafoo...      1

[5414 rows x 2 columns]

In [ ]:
# # Keep only binary labels
# df_train = df_train[df_train['label'].isin(['negative', 'positive'])].copy()
# df_test = df_test[df_test['label'].isin(['negative', 'positive'])].copy()
# label_map = {'negative': 0, 'positive': 1}
# df_train['label'] = df_train['label'].map(label_map).astype(int)
# df_test['label'] = df_test['label'].map(label_map).astype(int)
# print(f'shape of train set: {df_train.shape}')
# print(f'shape of test set: {df_test.shape}')
# print(f"Train set size: {len(df_train)}, Test set size: {len(df_test)}")
# print(f"Train set unique labels: {df_train['label'].unique()}")
# print(f"Test set unique labels: {df_test['label'].unique()}")
# print(f'null values in train set: {df_train.isnull().sum()}')
# print(f'null values in test set: {df_test.isnull().sum()}')
# df_train.dropna( inplace=True, axis=0)
# df_test.dropna(inplace=True, axis=0)
# print(f'shape of train set after dropping null values: {df_train.shape}')
# print(f'shape of test set after dropping null values: {df_test.shape}')

shape of train set: (5414, 2)
shape of test set: (2899, 2)
Train set size: 5414, Test set size: 2899
Train set unique labels: [0 1]
Test set unique labels: [1 0]
null values in train set: tweet    0
label    0
dtype: int64
null values in test set: tweet    0
label    0
dtype: int64
shape of train set after dropping null values: (5414, 2)
shape of test set after dropping null values: (2899, 2)

In [16]:
df_test.to_csv("yoruba_test.csv", index=False)
df_train.to_csv("yoruba_train.csv", index=False)

In [7]:
df_train = df_train.groupby('label', group_keys=False).apply(lambda x: x.sample(n=500, random_state=42)).reset_index(drop=True)
df_test = df_test.groupby('label', group_keys=False).apply(lambda x: x.sample(n=500, random_state=42)).reset_index(drop=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18144\4191704844.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_train = df_train.groupby('label', group_keys=False).apply(lambda x: x.sample(n=500, random_state=42)).reset_index(drop=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18144\4191704844.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_test = df_test.groupby('label', group_keys=False).apply(lambda x: x.sample(n=500, random_state=42)).reset_index(drop=True)

In [8]:
df_train

                                                 tweet  label
0                           kiní yìí ọ̀tá orun ní í ṣe      0
1    inú ilé ni jọ́ọ̀nù ti ń kiri obìi tirẹ̀ ó ga o...      0
2                 oga o ewo ni orin eku lori oro oselu      0
3    honestly i had this experience yesterday one b...      0
4    ayé tó ṣe ilá tí ilá fi kó ló ṣe ikàn tí ó fi ...      0
..                                                 ...    ...
995  ojúmọ́ tí ó mọ́ wa lónìí ojúmọ́ ire ni kó jẹ́ ...      1
996  oore lópé ìkà ò sunwọ̀n its kindness that pays...      1
997  mo mà gba ti bí ẹ ṣẹ nkọ yoòbá o ó dùn ún kà g...      1
998  ẹ kú ìrlẹ o ọmọ ẹ si kú ìgbádùn òpin ọṣẹ́ àti ...      1
999  àwọn ọlópàá tí wọ́n ndáàbò bo àwọn èrò ìrọwọ́r...      1

[1000 rows x 2 columns]

In [11]:
df_train['label'].value_counts()

label
0    500
1    500
Name: count, dtype: int64

In [12]:
df_test['label'].value_counts()

label
0    500
1    500
Name: count, dtype: int64

In [13]:
df_train.to_csv("yoruba_train.csv", index=False)
df_test.to_csv("yoruba_test.csv", index=False)